body {
	background-color: #CCCCCC;
}

h1 {
	background-color: #494949;

	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: -10px;
	margin-right: -10px;

	font-family: 'Oswald', sans-serif;
}

.landingpage {
	color: #FFFFFF;
}

a {
	display: inline-block;
	
	color: #FFFFFF;
	
	text-align: center;
	text-decoration: none;
	
	border-style: solid;
	border-width: 2px;
	
	margin-left: 20px;
	
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	
	font-family: 'Oswald', sans-serif;
}

a:hover {
	display: inline-block;
	
	color: #FFFFFF;
	background-color: #494949;
	
	text-align: center;
	text-decoration: none;
	
	border-style: solid;
	border-width: 2px;
	
	margin-left: 20px;
	
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	
	font-family: 'Oswald', sans-serif;
}

.headerspace {
	background-color: black;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: -33px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}

.webDesc {
	margin-top: 500px;

	border-color: black;
	color: white;
	background-color: black;

	border-spacing: 5px;
	font-size: 12px;

	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	margin-right: -50px;
	margin-left: -10px;
	margin-bottom: -10px;
}


.webTitle1 {
	color: white;
	border-color: black;
	background-color: #494949;
	text-align: center;

	margin-left: 250px;
	margin-right: 250px;

	border-radius: 3px;

	padding-top: 5px;
	padding-bottom: 5px;

	font-family: 'Oswald', sans-serif;
}
